Repository ressec/cherry, pull requests merged in 2021-12, with the labels that each got.

#86 Merge Test/84 into Feat
  .design/hemajoo-commerce-cherry-model-person.xmind
  cherry-commons/pom.xml
  cherry-model/pom.xml
  cherry-model/src/main/java/com/hemajoo/commerce/cherry/model/document/ClientDocumentEntity.java
  cherry-model/src/main/java/com/hemajoo/commerce/cherry/model/document/exception/DocumentException.java
  cherry-parent/pom.xml
  cherry-persistence/pom.xml
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/base/factory/ServerEntityFactory.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/converter/DocumentConverter.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/entity/ServerDocument.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/entity/ServerDocumentEntity.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/person/service/EmailAddressServiceCore.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/person/validation/engine/EmailAddressValidationEngine.java
  cherry-persistence/src/main/resources/application.properties
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/config/PersistenceConfiguration.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/unit/base/AbstractPostgresUnitTest.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/unit/model/entity/document/converter/DocumentConverterUnitTest.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/unit/model/entity/document/persistence/DocumentUnitTest.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/unit/model/entity/person/converter/EmailAddressConverterUnitTest.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/unit/model/entity/person/persistence/EmailAddressUnitTest.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/unit/model/entity/person/persistence/PersonUnitTest.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/unit/model/entity/person/persistence/PhoneNumberUnitTest.java
  cherry-persistence/src/test/resources/application.properties
  cherry-rest-api/pom.xml
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/SpringWebApplicationRestApi.java
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/config/PersistenceConfiguration.java
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/controller/person/EmailAddressController.java
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/controller/person/PersonController.java
  cherry-rest-api/src/main/resources/application.properties
Labels: ⑆ Pull Request, Build

#90 Task/79
  cherry-parent/pom.xml
  cherry-persistence/pom.xml
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/base/test/AbstractBaseDatabaseUnitTest.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/FileSystemContentStore.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/FileSystemContentStoreConfigurator.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/ProxyContentStore.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/S3DocumentStore.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/S3DocumentStoreConfigurator.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/repository/DocumentServiceCore.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/config/PersistenceConfiguration.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/unit/base/AbstractPostgresUnitTest.java
  cherry-persistence/src/test/resources/application.properties
  cherry-rest-api/pom.xml
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/config/DocumentHelper.java
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/config/PersistenceConfiguration.java
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/controller/document/DocumentController.java
  cherry-rest-api/src/main/resources/application.properties
Labels: ⑆ Pull Request, 〄 Document

#89 feat(store): Add support for S3 content store
  cherry-parent/pom.xml
  cherry-persistence/pom.xml
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/base/test/AbstractBaseDatabaseUnitTest.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/FileSystemContentStore.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/FileSystemContentStoreConfigurator.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/ProxyContentStore.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/S3DocumentStore.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/S3DocumentStoreConfigurator.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/repository/DocumentServiceCore.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/config/PersistenceConfiguration.java
  cherry-persistence/src/test/resources/application.properties
  cherry-rest-api/pom.xml
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/config/DocumentHelper.java
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/config/PersistenceConfiguration.java
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/controller/document/DocumentController.java
  cherry-rest-api/src/main/resources/application.properties
Labels: ⑆ Pull Request, 〄 Document

#92 feat(config): Re-factor the PersistenceConfiguration class
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/base/test/AbstractBaseDatabaseUnitTest.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/config/JpaAuditor.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/config/PersistenceConfiguration.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/FileSystemContentStoreConfigurator.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/content/S3DocumentStoreConfigurator.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/content/ContentStoreType.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/content/FileSystemDocumentStore.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/content/ProxyContentStore.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/content/S3DocumentStore.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/repository/DocumentServiceCore.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/SpringTestApplication.java
  cherry-persistence/src/test/java/com/hemajoo/commerce/cherry/persistence/test/config/PersistenceConfiguration.java
  cherry-persistence/src/test/resources/application.properties
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/SpringWebApplicationRestApi.java
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/config/DocumentHelper.java
  cherry-rest-api/src/main/resources/application.properties
Labels: ⑆ task ➤ pull request, ☁︎ topic ➤ configuration, © framework ➤ spring

#97 feat(document): Implement an endpoint to upload a document
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/feat-workflow.yml
  .github/workflows/sonar.yml
  cherry-commons/src/main/java/lombok.config
  cherry-commons/src/test/java/lombok.config
  cherry-parent/pom.xml
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/config/PersistenceConfiguration.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/repository/DocumentServiceCore.java
  cherry-rest-api/pom.xml
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/controller/document/DocumentController.java
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/error/GlobalExceptionHandler.java
  cherry-rest-api/src/main/resources/application.properties
Labels: ⑆ task ➤ pull request, 〄 entity ➤ document, ⚙︎ area ➤ rest controller

#113 feat(template): Update of the Github issue templates
  .github/ISSUE_TEMPLATE/client-entity.md
  .github/ISSUE_TEMPLATE/converter-entity.md
  .github/ISSUE_TEMPLATE/design-classes-hierarchy.md
  .github/ISSUE_TEMPLATE/endpoint-count.md
  .github/ISSUE_TEMPLATE/endpoint-create.md
  .github/ISSUE_TEMPLATE/endpoint-delete.md
  .github/ISSUE_TEMPLATE/endpoint-get.md
  .github/ISSUE_TEMPLATE/endpoint-query.md
  .github/ISSUE_TEMPLATE/endpoint-random.md
  .github/ISSUE_TEMPLATE/endpoint-search.md
  .github/ISSUE_TEMPLATE/endpoint-update.md
  .github/ISSUE_TEMPLATE/exception-entity.md
  .github/ISSUE_TEMPLATE/integration-tests.md
  .github/ISSUE_TEMPLATE/jpa-repository.md
  .github/ISSUE_TEMPLATE/mapper-entity.md
  .github/ISSUE_TEMPLATE/persistence-entity.md
  .github/ISSUE_TEMPLATE/persistence-service.md
  .github/ISSUE_TEMPLATE/randomizer-entity.md
  .github/ISSUE_TEMPLATE/rest-api-controller.md
  .github/ISSUE_TEMPLATE/search-entity.md
  .github/ISSUE_TEMPLATE/type-entity.md
  .github/ISSUE_TEMPLATE/unit-test-entity.md
  .github/ISSUE_TEMPLATE/unit-tests.md
  .github/ISSUE_TEMPLATE/validation-entity.md
Labels: ⑆ Task ➤ Pull Request, ☆ Tool ➤ GitHub

#114 Merge Feat into Dev
  .github/ISSUE_TEMPLATE/client-entity.md
  .github/ISSUE_TEMPLATE/converter-entity.md
  .github/ISSUE_TEMPLATE/design-classes-hierarchy.md
  .github/ISSUE_TEMPLATE/endpoint-count.md
  .github/ISSUE_TEMPLATE/endpoint-create.md
  .github/ISSUE_TEMPLATE/endpoint-delete.md
  .github/ISSUE_TEMPLATE/endpoint-get.md
  .github/ISSUE_TEMPLATE/endpoint-query.md
  .github/ISSUE_TEMPLATE/endpoint-random.md
  .github/ISSUE_TEMPLATE/endpoint-search.md
  .github/ISSUE_TEMPLATE/endpoint-update.md
  .github/ISSUE_TEMPLATE/exception-entity.md
  .github/ISSUE_TEMPLATE/integration-tests.md
  .github/ISSUE_TEMPLATE/jpa-repository.md
  .github/ISSUE_TEMPLATE/mapper-entity.md
  .github/ISSUE_TEMPLATE/persistence-entity.md
  .github/ISSUE_TEMPLATE/persistence-service.md
  .github/ISSUE_TEMPLATE/randomizer-entity.md
  .github/ISSUE_TEMPLATE/rest-api-controller.md
  .github/ISSUE_TEMPLATE/search-entity.md
  .github/ISSUE_TEMPLATE/type-entity.md
  .github/ISSUE_TEMPLATE/unit-test-entity.md
  .github/ISSUE_TEMPLATE/unit-tests.md
  .github/ISSUE_TEMPLATE/validation-entity.md
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/feat-workflow.yml
  .github/workflows/sonar.yml
  cherry-commons/src/main/java/lombok.config
  cherry-commons/src/test/java/lombok.config
  cherry-parent/pom.xml
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/config/PersistenceConfiguration.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/repository/DocumentServiceCore.java
  cherry-rest-api/pom.xml
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/controller/document/DocumentController.java
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/error/GlobalExceptionHandler.java
  cherry-rest-api/src/main/resources/application.properties
Labels: ⑆ Task ➤ Pull Request

#115 Merge Dev into Main
  .github/ISSUE_TEMPLATE/client-entity.md
  .github/ISSUE_TEMPLATE/converter-entity.md
  .github/ISSUE_TEMPLATE/design-classes-hierarchy.md
  .github/ISSUE_TEMPLATE/endpoint-count.md
  .github/ISSUE_TEMPLATE/endpoint-create.md
  .github/ISSUE_TEMPLATE/endpoint-delete.md
  .github/ISSUE_TEMPLATE/endpoint-get.md
  .github/ISSUE_TEMPLATE/endpoint-query.md
  .github/ISSUE_TEMPLATE/endpoint-random.md
  .github/ISSUE_TEMPLATE/endpoint-search.md
  .github/ISSUE_TEMPLATE/endpoint-update.md
  .github/ISSUE_TEMPLATE/exception-entity.md
  .github/ISSUE_TEMPLATE/integration-tests.md
  .github/ISSUE_TEMPLATE/jpa-repository.md
  .github/ISSUE_TEMPLATE/mapper-entity.md
  .github/ISSUE_TEMPLATE/persistence-entity.md
  .github/ISSUE_TEMPLATE/persistence-service.md
  .github/ISSUE_TEMPLATE/randomizer-entity.md
  .github/ISSUE_TEMPLATE/rest-api-controller.md
  .github/ISSUE_TEMPLATE/search-entity.md
  .github/ISSUE_TEMPLATE/type-entity.md
  .github/ISSUE_TEMPLATE/unit-test-entity.md
  .github/ISSUE_TEMPLATE/unit-tests.md
  .github/ISSUE_TEMPLATE/validation-entity.md
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/feat-workflow.yml
  .github/workflows/sonar.yml
  cherry-commons/src/main/java/lombok.config
  cherry-commons/src/test/java/lombok.config
  cherry-parent/pom.xml
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/config/PersistenceConfiguration.java
  cherry-persistence/src/main/java/com/hemajoo/commerce/cherry/persistence/document/repository/DocumentServiceCore.java
  cherry-rest-api/pom.xml
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/controller/document/DocumentController.java
  cherry-rest-api/src/main/java/com/hemajoo/commerce/cherry/rest/error/GlobalExceptionHandler.java
  cherry-rest-api/src/main/resources/application.properties
Labels: ⑆ Task ➤ Pull Request

#117 feat(ci): Re-factor the GitHub Action workflow for the Cherry project
  .github/workflows/build.yml
  .github/workflows/cherry.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/sonar.yml
Labels: ⑆ Task ➤ Pull Request
